<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Displaying image</title>
</head>
<body>
  <div class="container">
    <h1 class="center">Here's your uploaded image!</h1>
    <div class="underline"></div>
    <img class="preview" src="{{ imgPath }}" alt="">
    <form action="{{ compressPath }}" method="POST" class="display-form">
      <div class="form-control">
        <label for="k">Enter k value (1-200):</label>
        <input type="number" id="k" name="k" min="1" max="200" value="50">
      </div>
      <button type="submit" class="compress-button">Compress!</button>
    </form>
   <p class="compress-alert">Compression might take a while, so please wait after clicking the button!</p>
  </div>
</body>
</html>