@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
}

h1, h2, h3, h4, h5, h6, p, a, button, label, input {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.index-container {
  min-height: 100vh;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 30px 60px;
}

@media screen and (max-width: 520px) {
  .container {
    padding: 30px;
  }
}

.index-container h1, .index-container p {
  color: white;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.upload-btn {
  background: white;
  color: black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s all ease;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 16px;
}

.upload-btn:hover {
  outline: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
}

.index-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.index-submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background: none;
  color: white;
  border: 1px solid white;
  width: 200px;
  font-size: 16px;
  transition: 0.3s all ease;
}

.index-submit-btn:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.alert-text {
  color: hsl(0, 100%, 80%);
  text-align: center;
}

.center {
  text-align: center;
}

.underline {
  max-width: 300px;
  margin: 0 auto;
  height: 4px;
  background-color: black;
  margin-bottom: 2rem;
}

img.preview {
  max-width: 400px;
  margin: 0 auto;
}

.display-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.compress-button {
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.3s all ease;
}

.compress-button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.compress-alert {
  text-align: center;
  font-weight: 700;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1rem;
}

.flex-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container img {
  max-width: 400px;
}

.btn-container {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  background: none;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s all ease;
}

.back-btn:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.dl-btn {
  background: black;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s all ease;
}

.dl-btn:hover {
  cursor: pointer;
  background: none;
  color: black;
}